.main {
  border-style: solid;
  padding: 50px;
  border-color: azure;
  background-color: azure;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 50px;
}

.time {
  border-style: solid;
  border-color: azure;
  background-color: azure;
  border-radius: 5px;
  margin-left: 45%;
  margin-right: 45%;
  font-size: 20px;
}

.sentenceDiv {
  border-style: solid;
  padding: 50px;
  border-color: azure;
  background-color: azure;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 50px;
}

.title {
  color: black
}